---
import Layout from "../layouts/Layout.astro";
import GenerateRecipe from "../components/GenerateRecipe.svelte";
---

<Layout title="Welcome to co-here integration.">
  <main class="container w-full max-w-xl mx-auto p-3">
    <h1 class="text-2xl text-center">Welcome to IA recommendation</h1>
    <GenerateRecipe client:visible />
  </main>
</Layout>
